<p id="notice"><%= notice %></p>

<h1>Listing Freezers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @freezers.each do |freezer| %>
      <tr>
        <td><%= link_to freezer.name, freezer %></td>
        <td><%= link_to 'Edit', edit_freezer_path(freezer) %></td>
        <td><%= link_to 'Destroy', freezer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Freezer', new_freezer_path %>
